<div style="text-align:left">

  <button style="margin-left: 1em" mat-raised-button [matMenuTriggerFor]="home">Home</button>
  <button style="margin-left: 5em" mat-raised-button [matMenuTriggerFor]="aboutus">About Us</button>
  <button style="margin-left: 5em" mat-raised-button [matMenuTriggerFor]="contactus">Contact Us</button>
  <button style="margin-left: 5em" mat-raised-button [matMenuTriggerFor]="feedback">FeedBack</button>
</div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/img/slide1.png" alt="first slide"class=" w-100">
          </div>
          <div class="carousel-item">
              <img src="assets/img/slide2.png" alt="second slide" class="d-block w-100">
          </div>
        </div>
  
    
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
  </div>
<div class="Container">
  <form [formGroup]="loginForm" (submit)="login()">
    <table class="tablelogin">
      <tr>
        <td><input type="radio" formControlName="user" value="admin">Admin</td>
        <td><input type="radio" formControlName="user" value="student">Student</td>
      </tr>

      <tr>
        <td>UserID </td>
        <td><input type="text" formControlName="userId"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="text" formControlName="password"></td>
      </tr>

      <input type="submit" value="Submit">
      <!-- <button mat-Raised-button color="warn">Saurabh</button> -->
    </table>
  </form>


</div>